include webtraversallibrary/configs/*.json
include webtraversallibrary/extension/__init__.py
include webtraversallibrary/extension/wtl_extension.crx
include webtraversallibrary/font/__init__.py
include webtraversallibrary/font/*.ttf
include webtraversallibrary/font/LICENSE.txt
include webtraversallibrary/js/*.js
