astroid==2.4.*
beautifulsoup4==4.8.*
black>=19.,<20.
bump2version==0.5.10
Flask==1.1.2
html5lib==1.0.1
isort==4.*
markdown==3.2.2
mypy==0.720
pillow==6.*
pip==20.*
pycodestyle==2.6.*
pylint==2.5.*
pytest==4.*
pytest-cov
pytest-mock
PyYAML==5.3.*
radon==4.0.*
recommonmark==0.6.*
requests==2.22.*
selenium==3.141.*
setuptools==41.0.1
soupsieve==1.9.*
sphinx==3.*
twine==1.13.*
urllib3==1.25.*
wheel==0.34.*
xenon==0.7.*
xvfbwrapper==0.2.*
