astroid==2.9.*
beautifulsoup4==4.10.*
black==22.1.0
bump2version==1.0.*
Flask==2.0.3
html5lib==1.1.*
isort==5.*
markdown==3.3.6
mypy==0.941
pillow==9.*
prodict==0.8.*
pylint==2.12.*
pytest==7.*
pytest-cov
pytest-mock
PyYAML==6.0
radon==5.*
recommonmark==0.7.*
requests==2.27.*
selenium==3.141.*
setuptools==62.*
soupsieve==2.3.1
sphinx==4.*
twine==3.8.*
urllib3==1.26.*
wheel==0.37.*
xenon==0.9.*
xvfbwrapper==0.2.*
