astroid==2.9.*
beautifulsoup4==4.9.*
black==21.12b0
bump2version==1.0.*
Flask==1.1.2
html5lib==1.1.*
isort==5.*
markdown==3.3.6
mypy==0.931
pillow==8.1.*
pip==21.*
prodict==0.8.*
pylint==2.12.*
pytest==6.*
pytest-cov
pytest-mock
PyYAML==5.4.*
radon==5.*
recommonmark==0.7.*
requests==2.27.*
selenium==3.141.*
setuptools==60.*
soupsieve==2.3.1
sphinx==3.*
twine==3.4.*
urllib3==1.26.*
wheel==0.37.*
xenon==0.8.*
xvfbwrapper==0.2.*
